<nav class="nav">
  <a href="/">Home</a> |
  <a href="/contact">Contact Form</a> |
  <a href="/admin">Admin</a> |
  <a href="https://github.com/Kiyum06/contact-form" target="_blank">GitHub</a> |
  <a href="https://www.linkedin.com/in/mdkiyum0603/" target="_blank">LinkedIn</a>
</nav>
<hr>