* {
    box-sizing: border-box;
}

:root {
  --bg-page: lightgray;
  --bg-main: white;
  --text-main: #000;
}

body {
  background-color: var(--bg-page);
  color: var(--text-main);
}

main {
  background-color: var(--bg-main);
}

body {
  font-family: 'Segoe UI', Roboto, sans-serif;
  /* background-color: lightgray;
  color: #000; */
}

main {
  /* background-color: white; */
  width: 70%;
  margin: 0 auto 1rem auto;
  padding: 0.5rem 1rem 1rem 1rem;
}

header {
  display: flex;
  align-items: center;  
}

.header-center {
  text-align: center;
}

.header-left {
  font-size: 12pt;
  line-height: 0.7;
}

a {
  color: #0056b3;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: darkred;
}

.header-right {
  text-align: right;
}

.header-right img {
  height: 8%;
  width: 30%;
  border: 0.5px solid black;
  
}

.summary {
  line-height: 0.3;
}


section {
  margin-bottom: 18px;
}


li {
  margin-bottom: 4px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6px;
}

.right {
  font-size: 12pt;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .two-column {
    grid-template-columns: 1fr;
  }

  main {
    width: 95%;
  }

  .header-right img {
    width: 120px;
    height: auto;
  }
}
